
.table-container {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid gray;
}
td img{
  width: 50px;
}

.table th {
  background-color: gray;
  color: white;
}