/* admProModal.css */

.none {
  display: none;
}

.completed {
  font-weight: bold;
}

.adm-product-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.adm-product-modal h2 {
  margin-bottom: 20px;
}

.adm-product-modal input[type="text"],
.adm-product-modal input[type="number"],
.adm-product-modal select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.adm-product-modal input[type="file"] {
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #ccc;
}

.adm-product-modal input[type="file"]::placeholder {
  content: "+ Choose File";
  color: #999;
}

.adm-product-modal label {
  margin-right: 10px;
}

.adm-product-modal select {
  width: 200px;
}
.images-div{
  display: flex;
  gap: 5px;
}
.abouts{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 40px;
}
  