.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 0;
    gap: 10px;
}
.middle-header {
    display: flex;
    align-items: center;
    width: 55%;
}

.header-bars{
    height: 35px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(241, 240, 240);
    color: black;
    display: flex;
    align-items: center;
    gap: 8px;
}
.store-action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0.25;
    height: 40px;
}
.action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 12px;
    line-height: 15px;

}
.action-buttons p {
    color: #444;
    margin: 0;
}
.language-selector select {
    width: 90px;
    height: 35px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(241, 240, 240);
    color: black;
  }
  
  .language-selector select:focus {
    outline: none;
  
  }
  
  .language-selector select option {
    background-color: #fff;
    color: #444;
  }
  .brand-logo .logo{
    width: 200px;
  }
  .header-logo{
    height: 100%;
  }  
  .search{
    width: 75%;
    font-weight: 900;
  }   