.ads-products {
    flex: 2;
    background-color: rgb(246, 247, 247);
    border-radius: 10px;
    padding: 20px;
    
    box-shadow: 0 0 5px #ccc;
}
.ads-products h2 {
    line-height: 25px;
    margin-bottom: 30px;

}
.wrapper{
    box-shadow: 0 0 2px #ccc;
}

