*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
body {
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
