.product-card {
    background-color: #fff;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 7px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    /* box-shadow: 0 0 3px rgba(204, 204, 204, 0.6) ; */
  }

  
  .product-card:hover {
    box-shadow: 0px 8px 15px -5px rgba(204, 204, 204, 0.6);
    transition: 0.3s;
    border-color: #ccc;
    transform: scale(1.03);
  }
  
  .product-card-image {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-card-image-item {
    width: 100%;
    transition: 0.2s;
    object-fit: contain;
    
  }
  
  .product-card-image-item:hover {
    transform: scale(1.05);
    transition: 0.2s;
  }
  
  .product-card button {
    border: none;
    font-size: 18px;
  }
  
  .product-card-like {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: rgb(163, 161, 161);
  }
  
  .card-info-block {
    padding: 10px 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 15px;
  }
  
  .product-card-price-info-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .product-card-credit-amount {
    background-color: rgb(255, 255, 0);
    width: 100%;
    padding: 5px;
  }
  
  .product-card:hover {
    border-color: #ccc;
  }
  
  .product-card-image {
    position: relative;
    background-color: #f5f5f5;
  }
  
  .product-card-subtitle {
    font-size: 14px;
    color: #888;
  }
  
  .product-card-price-info {
    font-size: 18px;
    font-weight: bold;
  }
  .product-card-price-info-wrapper{
    margin-top: 10px;
  }
  
  .product-add-to-cart {
    color: rgb(108, 107, 107);
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    width: 20%;
    
  }
  .product-add-to-cart:hover {
    transform: rotate(-3deg) scale(1.05);
    color: #bab6b6;
  }

  .price-credit {
  
    /* background: #ff6600; */
    background-color: rgb(94, 221, 85);
    margin-right: auto;
    padding:4px 8px;
    color: white;
    border-radius: 4px;
}
.price-credit p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    
}
h4{
    color: #333;
}
.product-purchase{
  border-radius: 5px;
  background-color: transparent;
  width: 75%;
  color: gray;
  padding: 7px 0;
  border: 1px solid #ccc !important;
  transition: 0.3s;
}
.product-purchase:hover {
  background-color: #ccc ;
  color: #fff;
  font-weight: bolder;

}
.offers{
  width: 400px;
  height: 680px;
  background-color: transparent;
}
