.header-search {
    background-color: #ccc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.search-input-component{
    outline: none;
    width: 400px;
    height: 40px;
    padding: 0 15px;
    border: none;

}
.header-search-button {
    padding: 0 30px;
    border: none;
}
.search{
    width: 18px;
}
